.button__wrapper {
    width: 100%;
}
.button__wrapper button {
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    padding: 10px;
}

.button__wrapper button:hover {
    cursor: pointer;
    opacity: 0.8;
}
