:root {
  --black: #161616;
  --white: #ffffff;
  --gray: ;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  border: none;
  background-color: #f4f4f4;
  border-radius: 0;
}
.title {
  font-weight: bold;
}
.m--lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-b--xs {
  margin-bottom: 10px;
}
